<div *ngIf="displayActions">
<nz-collapse>
    <nz-collapse-panel
    [nzHeader]="panel"
      [nzActive]="false"
      [nzDisabled]="false">
        <button nz-button class="login-form-button login-form-margin" 
        [nzType]="'primary'" (click)="initCreation()">Créer utilisateur</button>
        <button nz-button class="login-form-button login-form-margin" 
        [nzType]="'primary'" (click)="exportCSV()">Exporter CSV</button>

    </nz-collapse-panel>
</nz-collapse>
</div>

<div *ngIf="displayList">
<nz-collapse >
    <!-- [nzHeader]='headerActions' -->
<nz-collapse-panel
[nzHeader]="panelRecherche"
[nzActive]="true"
[nzDisabled]="false">

    <form nz-form [formGroup]="searchForm"  [nzLayout]="'inline'" 
    (ngSubmit)="rechercher()">

    <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="28" 
        nzRequired nzFor="lastname">Nom</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="28" nzErrorTip="La valeur nom est invalide">
        <input nz-input [nzSize] = "'small'"  formControlName="lastName" id="lastname" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="28" 
        nzRequired nzFor="firstname">Prénom</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="28" nzErrorTip="La valeur prénom est invalide">
        <input nz-input [nzSize] = "'small'"  formControlName="firstName" id="firstname" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="28"  
        nzRequired nzFor="username">Username</nz-form-label>
        <nz-form-control [nzSm]="10" [nzXs]="28"  nzErrorTip="La valeur username est invalide">
        <input nz-input [nzSize] = "'small'"  formControlName="username" id="username" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label  
        nzFor="creationDateDebut">Date de création Début</nz-form-label>
        <nz-form-control   >
        <nz-date-picker formControlName="creationDateDebut" id="creationDateDebut"  ></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label   
        nzFor="creationDateFin">Date de création Fin</nz-form-label>
        <nz-form-control   >
        <nz-date-picker formControlName="creationDateFin" id="creationDateFin"  ></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Rechercher</button>
        </nz-form-control>
    </nz-form-item>
    </form>


</nz-collapse-panel>
</nz-collapse>

<nz-table
      nzShowSizeChanger
      [nzSize] = "'small'"
      [nzData]="listOfData"
      [nzLoading]="settingValue.loading"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr >
          <th nzWidth="40px"  [nzLeft]="fixedColumn"></th>
          <th
            nzWidth="60px"
            [(nzChecked)]="allChecked"
            [nzLeft]="fixedColumn"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="checkAll($event)"
          ></th>
          <th  nzColumnKey="username" [nzSortFn]="true" >Nom</th>
          <th  nzColumnKey="username" [nzSortFn]="true" >Prénom</th>
          <th  nzColumnKey="username" [nzSortFn]="true" >Username</th>
          <th>Date de création</th>
          <th>Date de mise à jour</th>
          <th>Contenu</th>
          <th [nzRight]="fixedColumn">Action</th>
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let data of listOfData">
            <td [nzLeft]="fixedColumn" ></td>
            <td
              [nzLeft]="fixedColumn"
              [(nzChecked)]="data.checked!"
              (nzCheckedChange)="refreshStatus()"
            ></td>
            <td>{{ data.lastName! }}</td>
            <td>{{ data.firstName! }}</td>
            <td>{{ data.userName! }}</td>
            
            <td [nzEllipsis]="settingValue.ellipsis">{{ data.creationDate | date:'medium' }}</td>
            <td [nzEllipsis]="settingValue.ellipsis">{{ data.updateDate | date:'medium' }}</td>
            <td>{{data.url}} 
            <a (click)="downloadFile(data.id!)">Télécharger</a>
          </td>
            <td [nzRight]="fixedColumn" [nzEllipsis]="settingValue.ellipsis">
                   <nz-divider nzType="vertical"></nz-divider>

                   <a (click)="deleteUser(data.id!)">Supprimer</a>

                   <nz-divider nzType="vertical"></nz-divider>
              <a (click)="updateUser(data)">Modifier</a>
            </td>
          </tr>
      </tbody>
</nz-table>
</div>
<div *ngIf="displayCreation">
    <app-creation-user (doneCreation)="onDoneCreation($event)" ></app-creation-user>
</div>
<div *ngIf="displayUpdate">
<app-update-user [userToUpdate]="user" (doneUpdate)="onDoneUpdate($event)">
</app-update-user>
</div>