/* You can add global styles to this file, and also import other style files */

/**
 MAIN NAVIGATION
 */
 $toolbar-height: 36px;
 $sidenav-width: 200px;
 /**
  COLOR
  */
 $corail-color: #EF775C;
 $blue-color: #65B3F6;
 $pro-color: rgb(105,126,185);
 $entreprise-color: rgb(105,126,185);
 /**
  Palette'r
  */
 $grey: #C4C7Ce;
 $grey_light: #E4E4E4;
 $creme: #F9FAF5;
 /**
  MAIN COLOR
  */
 $main-color: $pro-color;



 /**
 MAIN NAVIGATION
 */
$toolbar-height: 36px;
$sidenav-width: 200px;
/**
 COLOR
 */
$corail-color: #EF775C;
$blue-color: #65B3F6;
$pro-color: rgb(105,126,185);
$entreprise-color: rgb(105,126,185);
/**
 Palette'r
 */
$grey: #C4C7Ce;
$grey_light: #E4E4E4;
$creme: #F9FAF5;
/**
 MAIN COLOR
 */
$main-color: $pro-color;


 
 